<template>
  <section class="about-page">
    <h1>{{ title }}</h1>
    <p>
      {{ content }}
    </p>
  </section>
</template>

<script>
export default {
  asyncData(context) {
    return context.app.$storyapi
      .get('cdn/stories/about', {
        version: 'draft'
      })
      .then(res => {
        return {
          title: res.data.story.content.title,
          content: res.data.story.content.content
        };
      });
  }
};
</script>

<style scoped>
.about-page {
  width: 80%;
  max-width: 500px;
  margin: 6.5rem auto 2rem;
}

.about-page h1 {
  margin-bottom: 1rem;
}

.about-page p {
  line-height: 1.4;
}
</style>
