<template>
  <nuxt-link :to="id">
    <article class="post-preview">
      <div
        :style="{ backgroundImage: `url('${thumbnailImage}')` }"
        class="post-preview-thumbnail"
      ></div>
      <div class="post-preview-content">
        <h1>{{ title }}</h1>
        <p>{{ excerpt }}</p>
      </div>
    </article>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    excerpt: {
      type: String,
      required: true
    },
    thumbnailImage: {
      type: String,
      required: true
    },
    id: {
      type: String,
      required: true
    }
  }
};
</script>

<style>
a {
  text-decoration: none;
  color: #333;
  width: 100%;
}

.post-preview {
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 20rem;
  height: 20rem;
  overflow: hidden;
  margin: 0 auto;
}

.post-preview-thumbnail {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 10rem;
}

.post-preview-content {
  text-align: center;
  padding: 1rem;
  height: 10rem;
}

.post-preview-content h1 {
  margin-bottom: 1rem;
}

.post-preview-content p {
  line-height: 1.2;
  font-size: 0.9rem;
}

@media (min-width: 55rem) {
  .post-preview {
    max-width: 25rem;
  }
}
</style>
