<template>
  <section class="container">
    <div class="posts">
      <PostPreview
        v-for="post in posts"
        :key="post.id"
        :title="post.title"
        :excerpt="post.previewText"
        :thumbnailImage="post.thumbnailURL"
        :id="post.id"
      />
    </div>
  </section>
</template>

<script>
import PostPreview from '@/components/Blog/PostPreview';
export default {
  components: {
    PostPreview
  },

  asyncData(context) {
    return context.app.$storyapi
      .get('cdn/stories', {
        version: 'draft',
        starts_with: 'blog/'
      })
      .then(res => {
        console.log(res);
        return {
          posts: res.data.stories.map(post => {
            return {
              id: post.slug,
              title: post.content.title,
              previewText: post.content.summary,
              thumbnailURL: post.content.thumbnail
            };
          })
        };
      });
  }

  // data() {
  //   return {
  //     posts: [
  //       {
  //         title: 'A New Beginning',
  //         previewText: `Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt,
  //                       laborum? Laboriosam consequuntur at quisquam, suscipit sint impedit, est
  //                       inventore doloremque quam, ipsa id odio voluptatem dolorem sunt ipsam
  //                       praesentium itaque!`,
  //         thumbnailURL:
  //           'https://www.wpexplorer.com/wp-content/uploads/wordpress-blog-post-checklist-guide.jpg',
  //         id: 'a-new-begining'
  //       },
  //       {
  //         title: 'A Second Beginning',
  //         previewText: `Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt,
  //                       laborum? Laboriosam consequuntur at quisquam, suscipit sint impedit, est
  //                       inventore doloremque quam, ipsa id odio voluptatem dolorem sunt ipsam
  //                       praesentium itaque!`,
  //         thumbnailURL:
  //           'https://468825-1470079-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2018/01/perfect-blog-post-1024x576.jpg',
  //         id: 'a-second-begining'
  //       }
  //     ]
  //   };
  // }
};
</script>

<style scoped>
.container {
  max-width: 56rem;
  margin: 0 auto;
}

.posts {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

@media (min-width: 55rem) {
  .posts {
    grid-template-columns: 25rem 25rem;
  }
}
</style>
